.bigCardGroupDiv {
  // margin-top: 5.5%;
  align-self: center;
  height: ;
  display: flex;
  //   border: 1px solid blue;
  justify-content: center;
  align-items: center;

  .cardGroupDiv {
    margin: 1% 1%;
    width: 75%;
    display: flex;
    justify-content: space-between;

    .cardButtons {
      color: black;
    }
  }
}
