.carousel-container {
  display: flex;
  justify-content: center;
  background-color: #42424d;
  height: 80vh;
  align-items: center;
  flex-direction: column;

  h3 {
    margin-top: 2%;
    align-self: center;
    font-size: 3rem;
    color: #fefcfd;
  }
  .dash {
    color: #fefcfd;
    align-self: center;
    font-size: 4rem;
    margin-bottom: 1%;
  }

  .carousel {
    display: flex;
    height: 100%;
    width: 85%;
    // box-shadow: 0px -1px 15px -1px rgba(0, 0, 0, 0.75);
    align-items: center;
    border: 2px double yellow;

    .carousel-control-next {
      margin-top: 15%;
      margin-right: 3%;
      width: 40px;
      height: 40px;
      .carousel-control-next-icon {
        height: 40px;
        width: 40px;
      }
    }

    .carousel-control-prev {
      margin-top: 15%;
      margin-left: 3%;
      width: 40px;
      height: 40px;
      .carousel-control-prev-icon {
        height: 40px;
        width: 40px;
      }
    }

    .carousel-item {
      height: 50%;
      width: 100%;

      img {
        object-fit: contain;
      }

      .carousel-caption {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          font-weight: 500;
          align-self: center;
          color: #fefcfd;
        }
      }
    }
  }
}
