@mobile (max-width: 500px);
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}
* {
  margin: 0;
}
.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.header-div .hero-img {
  height: 100%;
  position: absolute;
}
.header-div .text-div {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header-div .text-div .header-h1 {
  font-size: 5rem;
  color: #FEFCFD;
  margin-bottom: 1%;
}
.header-div .text-div .header-info {
  font-size: 2rem;
  color: #FEFCFD;
  margin-bottom: 2%;
}
.header-div .text-div .header-button {
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0);
  color: #FEFCFD;
  border: 2px double #F0C808;
  padding: 1%;
  font-weight: 500;
}
.header-div .text-div .header-button:hover {
  font-weight: 400;
  font-size: 1.5rem;
}
* {
  color: #FEFCFD;
}
.body-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #27262C;
  height: 75vh;
}
.body-div .content-div {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.body-div .content-div .body-h3 {
  margin-top: 5%;
  align-self: center;
  font-size: 3rem;
  color: #fefcfd;
}
.body-div .content-div .dash {
  color: #FEFCFD;
  align-self: center;
  font-size: 4rem;
  margin-bottom: 2%;
}
.body-div .content-div .about-me-info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.body-div .content-div .about-me-text {
  background-color: #1C1C21;
  display: flex;
  flex-direction: column;
  border: 7px double #0892A5;
  justify-content: center;
  align-self: center;
  width: 60%;
  height: 300px;
}
.body-div .content-div .about-me-text h3 {
  text-align: center;
  font-size: 2rem;
}
.body-div .content-div .about-me-text p {
  margin-top: 2%;
  padding: 0 2%;
  font-weight: 500;
}
.body-div .content-div .skills {
  background-color: #1C1C21;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 7px double #F0C808;
  height: 300px;
  font-size: 1.1rem;
}
.body-div .content-div .skills h3 {
  font-size: 2rem;
  margin-bottom: 1%;
}
.body-div .content-div .skills p {
  padding: 2% 0;
  font-weight: 500;
}
