@mobile (max-width: 500px);
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}
* {
  margin: 0;
}
.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.header-div .hero-img {
  height: 100%;
  position: absolute;
}
.header-div .text-div {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (max-width: 500px) {
  .header-div .text-div {
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
  }
}
.header-div .text-div .header-h1 {
  font-size: 5rem;
  color: #fefcfd;
  margin-bottom: 1%;
  font-weight: 400;
}
@media (max-width: 500px) {
  .header-div .text-div .header-h1 {
    font-size: 3rem;
    text-align: center;
  }
}
.header-div .text-div .header-info {
  font-size: 2rem;
  color: #fefcfd;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .header-div .text-div .header-info {
    font-size: 1.8rem;
  }
}
.header-div .text-div .header-button {
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0);
  color: #fefcfd;
  border: 2px double #f0c808;
  padding: 1%;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 500px) {
  .header-div .text-div .header-button {
    font-size: 1.3rem;
    padding: 1.25%;
    margin-top: 1%;
    width: 55%;
    text-align: center;
  }
}
.header-div .text-div .header-button:hover {
  font-weight: 400;
  font-size: 1.35rem;
  text-decoration: none;
}
* {
  color: #fefcfd;
}
* *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
* *::-webkit-scrollbar-thumb {
  background: #f0c808;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}
* *::-webkit-scrollbar-track {
  background: #27262c;
}
.body-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #27262c;
  height: 60vh;
}
@media (max-width: 500px) {
  .body-div {
    height: 95vh;
  }
}
.body-div .content-div {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media (max-width: 500px) {
  .body-div .content-div {
    width: 100%;
  }
}
.body-div .content-div .body-h3 {
  margin-top: 2%;
  align-self: center;
  font-size: 3rem;
  color: #fefcfd;
}
.body-div .content-div .dash {
  color: #fefcfd;
  align-self: center;
  font-size: 4rem;
  margin-bottom: 1%;
}
.body-div .content-div .about-me-info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto 0;
}
@media (max-width: 500px) {
  .body-div .content-div .about-me-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
}
.body-div .content-div .about-me-text {
  background-color: #1c1c21;
  display: flex;
  flex-direction: column;
  border: 7px double #0892a5;
  justify-content: center;
  align-self: center;
  width: 60%;
  height: 300px;
}
@media (max-width: 500px) {
  .body-div .content-div .about-me-text {
    width: 100%;
    border: none;
  }
}
.body-div .content-div .about-me-text h3 {
  text-align: center;
  font-size: 2rem;
}
.body-div .content-div .about-me-text p {
  margin-top: 2%;
  padding: 0 2%;
  font-weight: 500;
}
@media (max-width: 500px) {
  .body-div .content-div .about-me-text p {
    text-align: center;
  }
}
.body-div .content-div .skills {
  background-color: #1c1c21;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 7px double #f0c808;
  height: 300px;
  font-size: 1.1rem;
}
@media (max-width: 500px) {
  .body-div .content-div .skills {
    width: 100%;
    margin-top: 5%;
    border: none;
  }
}
.body-div .content-div .skills h3 {
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 2%;
}
.body-div .content-div .skills p {
  padding: 2% 0;
  font-weight: 500;
}
.scrollDiv .carouselDiv {
  display: flex;
  background: #42424d;
  flex-direction: column;
  align-items: center;
}
.scrollDiv .carouselDiv h3 {
  font-size: 3rem;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .scrollDiv .carouselDiv h3 {
    margin-top: 5%;
  }
}
.scrollDiv .carouselDiv .dash {
  color: #fefcfd;
  align-self: center;
  font-size: 4rem;
}
.scrollDiv .outerCardList {
  width: 100%;
  height: 60vh;
  margin: 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #42424d;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .scrollDiv .outerCardList {
    height: 500px;
  }
}
.scrollDiv .cardList {
  margin: 0;
  transform: rotate(-90deg);
  background: #42424d;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  height: 335%;
  width: 30%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.2s;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .scrollDiv .cardList {
    width: 900px;
    height: 100%;
    padding: 0;
    width: 100vw;
    transform: none;
    align-items: center;
  }
}
.scrollDiv .cardList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
@media (max-width: 500px) {
  .scrollDiv .cardList::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.scrollDiv .cardList::-webkit-scrollbar-thumb {
  background: #f0c808;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 500px) {
  .scrollDiv .cardList::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
}
.cardContainer {
  display: flex;
  margin: 15% 0;
  transform: rotate(90deg);
}
@media (max-width: 500px) {
  .cardContainer {
    transform: none;
  }
}
.cardContainer .card {
  height: 450px;
  width: 700px;
  min-width: 650px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #15141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}
.cardContainer .card:hover {
  transform: translate(-3rem, -3rem);
  margin-right: 20%;
}
@media (max-width: 500px) {
  .cardContainer .card {
    min-width: 350px;
    padding: 1rem;
    width: 100px;
    height: 450px;
  }
  .cardContainer .card:hover {
    transform: none;
    margin-right: 0;
  }
}
.cardContainer .card-header {
  margin-bottom: auto;
}
.cardContainer .card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
  width: 72%;
}
@media (max-width: 500px) {
  .cardContainer .card-header p {
    width: 100%;
  }
}
.cardContainer .title {
  width: 70%;
}
@media (max-width: 500px) {
  .cardContainer .title {
    width: 100%;
    text-align: center;
  }
}
.cardContainer .card-header img {
  height: 150px;
  width: 80%;
  border-radius: 20px;
  object-position: center;
}
.cardContainer .skillsItemsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  margin-top: 45%;
  width: 75%;
  font-size: 1.2rem;
  list-style: none;
}
.cardContainer .skillsItemsDiv li {
  margin: 8%;
  text-align: center;
}
.cardContainer .skillsUsed {
  position: absolute;
  margin: 6% 7% 0% 0%;
  top: 27px;
  right: 0;
}
.cardContainer .skillsList {
  background: #27262c;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  padding: 5% 0;
  align-items: center;
  flex-wrap: wrap;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 16px;
}
@media (max-width: 500px) {
  .cardContainer .skillsList {
    display: none;
  }
}
.cardContainer .projectTextList {
  width: 70%;
}
@media (max-width: 500px) {
  .cardContainer .projectTextList {
    width: 100%;
  }
}
.cardContainer .projectTextList li > p {
  width: 100%;
}
.cardContainer .projectButtonsDiv {
  width: 60%;
  height: 50px;
}
@media (max-width: 500px) {
  .cardContainer .projectButtonsDiv {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
.cardContainer .projectButtons {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  align-items: center;
  height: 100%;
}
@media (max-width: 500px) {
  .cardContainer .projectButtons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
.cardContainer .cardButton {
  width: 120px;
  align-self: center;
  margin-top: 3%;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: #fefcfd;
  border: 2px double #f0c808;
  padding: 1%;
  font-weight: 500;
  text-decoration: none;
}
.cardContainer .cardButton:hover {
  padding: 1.5%;
  text-decoration: none;
}
.cardContainer .cardButton a {
  color: #fefcfd;
}
.cardContainer .cardButton a:hover,
.cardContainer .cardButton a :visited {
  text-decoration: none;
  color: #fefcfd;
}
.cardContainer .cardButtonBlue {
  border: 2px double #0892a5;
  width: 120px;
  align-self: center;
  margin-top: 3%;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: #fefcfd;
  padding: 1%;
  font-weight: 500;
  text-decoration: none;
}
.cardContainer .cardButtonBlue:hover {
  padding: 1.5%;
  text-decoration: none;
}
.cardContainer .cardButtonBlue a {
  color: #fefcfd;
}
.cardContainer .cardButtonBlue a:hover,
.cardContainer .cardButtonBlue a :visited {
  text-decoration: none;
  color: #fefcfd;
}
.cardContainer .projectTextList p {
  padding: 0 2% 0 0;
  width: 60%;
  word-wrap: break-word;
}
.contactForm-container {
  display: flex;
  background-color: #27262c;
  height: 65vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .contactForm-container {
    width: 100%;
    height: 85vh;
  }
}
.contactForm-container h3 {
  font-size: 3rem;
}
@media (max-width: 500px) {
}
.contactForm-container .dash {
  color: #fefcfd;
  align-self: center;
  font-size: 4rem;
  margin-bottom: 1%;
}
.contactForm-container .form-container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media (max-width: 500px) {
  .contactForm-container .form-container-div {
    width: 100%;
  }
}
.contactForm-container .form-container-div form {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactForm-container .form-container-div form .messageInputBox {
  align-self: center;
  width: 100%;
  color: white;
  background-color: #1c1c21;
}
.contactForm-container .form-container-div form .messageInputBox ::placeholder {
  color: white;
}
.contactForm-container .form-container-div form .formButton {
  width: 120px;
  align-self: center;
  margin-top: 3%;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
  color: #fefcfd;
  border: 2px double #f0c808;
  padding: 0.5%;
  font-weight: 500;
  text-decoration: none;
}
.contactForm-container .form-container-div form .formButton:hover {
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
}
.contactForm-container .form-container-div .textInputBox {
  background-color: #1c1c21;
  width: 400px;
  border-radius: 5px;
  color: white;
}
.contactForm-container .form-container-div .textInputBox ::placeholder {
  color: white;
}
.contactForm-container .form-container-div .textField-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
